doctype html
html(lang="en")
    head
        title Pr
        link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
        link(rel='stylesheet', href='/public/bower_components/barista/barista.main.min.css')
        script(src='http://localhost:35729/livereload.js')
    body
        <!-- header view target -->
        #header(data-barista-view="CMapHeaderView",data-title="Pr",data-subtitle="Proteomics Saearch")

        <!-- put your content here -->
        .row
            .col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10
                #treemap(data-barista-view="FlatTreeMapView")

        <!-- put your content here -->
        hr
        .row
            .col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10
                h2.cmap-center-text Your app content goes here
                p.lead.col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10 Use the above as an example, wipe it out completely, or re-mix it. It's up to you. These apps are built with <a href="http://cmap.github.io/barista">Barista.js</a>, head over there to get up to speed if you have not seen the library before.

        <!-- footer view target -->
        .row
            #footer(data-barista-view="CMapFooterView")

        script(src='/public/bower_components/barista/barista.main.min.js')
        script(src='/public/main.js')
