doctype html
html(lang="en")
    head
        title Proteomics Search
        link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
        link(rel='stylesheet', href='/public/bower_components/barista/barista.main.min.css')
        link(rel='stylesheet' href='/public/bower_components/slickgrid/slick.grid.css')
        link(rel='stylesheet' href='/public/css/base.css')
        link(rel='stylesheet' href='/public/css/table.css')
        link(rel='stylesheet' href='/public/css/cellWrapper.css')
        script(src='http://localhost:35729/livereload.js')
    body
        //- search box
        .container
          .cmap-spacer-large
          .col-xs-offset-1.col-xs-10
            #searchBox
          .col-xs-offset-1.col-xs-10
            p#apiError.text-center.text-danger <b>Oops, looks like the proteomics API is down</b>
          .col-xs-offset-1.col-xs-10
            #pathTable(style='height:100px;')
          #evidenceContainer.col-xs-offset-1.col-xs-10
            .cmap-spacer-small
            #evidenceTable(style='height:500px;')
            p#evidenceTableTSV.pull-left.table-export-text tsv
            p#evidenceTableCSV.pull-left.table-export-text csv
            p#evidenceTablePNG.pull-left.table-export-text png
          .col-xs-offset-1.col-xs-10
            .cmap-spacer-small
            #sequenceViews


        script(src='/public/bower_components/barista/barista.main.js')
        script(src='/public/bower_components/slickgrid/lib/jquery.event.drag-2.2.js')
        script(src='/public/bower_components/slickgrid/slick.core.js')
        script(src='/public/bower_components/slickgrid/slick.grid.js')
        script(src='/public/bower_components/slickgrid/slick.dataview.js')
        script(src='/public/bower_components/jquery-ui/jquery-ui.min.js')
        script(src='/public/bower_components/html2canvas/build/html2canvas.min.js')
        script(src='/public/js/proteomicSearch.js')
